<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>go.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,59},{130,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,55}}</string>
                <key>sourceSize</key>
                <string>{130,55}</string>
            </dict>
            <key>go1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,402},{284,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,70}}</string>
                <key>sourceSize</key>
                <string>{284,70}</string>
            </dict>
            <key>go2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,402},{284,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,70}}</string>
                <key>sourceSize</key>
                <string>{284,70}</string>
            </dict>
            <key>go3.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,315},{284,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,70}}</string>
                <key>sourceSize</key>
                <string>{284,70}</string>
            </dict>
            <key>go4.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,116},{284,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,70}}</string>
                <key>sourceSize</key>
                <string>{284,70}</string>
            </dict>
            <key>go5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{284,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,70}}</string>
                <key>sourceSize</key>
                <string>{284,70}</string>
            </dict>
            <key>go6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{284,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,70}}</string>
                <key>sourceSize</key>
                <string>{284,70}</string>
            </dict>
            <key>goSp.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{311,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,57}}</string>
                <key>sourceSize</key>
                <string>{311,57}</string>
            </dict>
            <key>put.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{130,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,55}}</string>
                <key>sourceSize</key>
                <string>{130,55}</string>
            </dict>
            <key>put1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{284,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,70}}</string>
                <key>sourceSize</key>
                <string>{284,70}</string>
            </dict>
            <key>put2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{284,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,70}}</string>
                <key>sourceSize</key>
                <string>{284,70}</string>
            </dict>
            <key>put3.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,116},{284,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,70}}</string>
                <key>sourceSize</key>
                <string>{284,70}</string>
            </dict>
            <key>put4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{284,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,70}}</string>
                <key>sourceSize</key>
                <string>{284,70}</string>
            </dict>
            <key>putSp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{311,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,57}}</string>
                <key>sourceSize</key>
                <string>{311,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fire_rule.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:254704a7eedf1e443a160bebf5128e49$</string>
            <key>textureFileName</key>
            <string>fire_rule.png</string>
        </dict>
    </dict>
</plist>
