<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>t0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{8,26}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{8,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,83},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>t4.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,63},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>t5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>t6.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,43},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>t7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>t8.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>t9.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,23},{18,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>tt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{7,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,23}}</string>
                <key>sourceSize</key>
                <string>{7,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>time.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63d38b197c7d3013794e8ce132937a1c$</string>
            <key>textureFileName</key>
            <string>time.png</string>
        </dict>
    </dict>
</plist>
